In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv")
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

## Question 1.

In [9]:
df['industry'].value_counts(dropna=False).sort_values(ascending=[0])

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NaN              134
Name: count, dtype: int64

## Question 2.

In [21]:
corr = df.corr(numeric_only=True)

corr_pairs = corr.unstack().sort_values(ascending=False)

corr_pairs = corr_pairs[corr_pairs < 1]

corr_pairs

converted                 number_of_courses_viewed    0.435914
number_of_courses_viewed  converted                   0.435914
interaction_count         converted                   0.374573
converted                 interaction_count           0.374573
lead_score                converted                   0.193673
converted                 lead_score                  0.193673
                          annual_income               0.078256
annual_income             converted                   0.078256
interaction_count         annual_income               0.048618
annual_income             interaction_count           0.048618
number_of_courses_viewed  annual_income               0.031551
annual_income             number_of_courses_viewed    0.031551
lead_score                interaction_count           0.009888
interaction_count         lead_score                  0.009888
annual_income             lead_score                  0.005334
lead_score                annual_income               0.005334
                          number_of_courses_viewed   -0.004879
number_of_courses_viewed  lead_score                 -0.004879
                          interaction_count          -0.023565
interaction_count         number_of_courses_viewed   -0.023565
dtype: float64